*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --padding-1:1rem;
    --radius:10px;
    --dblue:#10111b;
    --dgreen:#00966B;
    --orange:#ec7d14;
    --lwhite:#e1e2e4;
    --lred:#FD0122;
}
@font-face {
    font-family: myFont;
    src: url(../resources2/Nunito-Regular.ttf);
}
html{
    font-family: myFont;
}
#main,
.side-nav>ul,#nav-1>ul div,#nav-2>ul div,
#head,#head-1,#head-2,#head-3,#head-4,
#main-content,#main-left,#cards,
#announcement,#trends,#tren-con{
    display: grid;
}
#main{
    height: 100vh;
    grid-template: 1fr 4fr/1fr 5fr; 
}
#sidebar{
    color: white;
    background-color: var(--dblue);
    grid-row: 1/3;
    padding: var(--padding-1);
}
#sidebar>div{
    margin-bottom: 1rem;
}
.s-icon{
    filter: invert(1);
    height: 20px;
    width: 20px;
}
#logo{    
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1rem;
}
#logo img{
    height: 50px;
    filter: drop-shadow(1px 0 0 white) 
        drop-shadow(0 1px 0 white)
        drop-shadow(-1px 0 0 white) 
        drop-shadow(0 -1px 0 white);
}
#logo h1{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;

}

#nav-1>ul{
    grid-template: repeat(6,1fr)/1fr;
}
#nav-1>ul div{
    grid-template-columns: 30px 1fr;
}
#nav-2>ul{
    grid-template: repeat(3,1fr)/1fr;
}
#nav-2>ul div{
    grid-template-columns: 30px 1fr;
}
.side-nav li:nth-child(odd){
    justify-self:center; 
}
.side-nav li:nth-child(even){
    display: inline-block;
    position: relative;
  
}
.side-nav li:nth-child(even):after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 6px;
    background-color: var(--orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
.side-nav li:nth-child(even):hover{
       color: var(--orange);
}
.side-nav li:nth-child(even):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.side-nav li{
    display: flex;
    align-items: center;
    padding: 10px;
}

#head{
    grid-template: 50px 1fr/1.5fr 1fr;
    border-bottom: 3px solid rgb(168, 167, 167);
}
.pad{
    padding: var(--padding-1);
}
#head-1{
    grid-template-columns: 50px 1fr;
    padding-left: 2rem;
    align-items: center;
}

#searchbar{
    border-radius: 20px;
    font-family:myFont;
    background-color: var(--lwhite);
    font-size: 16px;
    width: 100%;
    height: 1.5rem;
    padding: 15px;
    margin-left: -1rem;
    border: none;
    outline: none;
}
#searchbar:active,#searchbar:hover{
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.13);
}
#head-2{
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-weight: bolder;
}
#head-2>div,#head-1>div {
    padding: 0 1rem;
}
#head-2 div:nth-child(2) p{
    display: flex;
    align-items: center;
}
#head-2 div:nth-child(2) span{
    margin-right: 1.5rem;
}
.image-icon{
    border-radius: 50%;
    object-fit: cover;
    width:30px;
    height: 30px;
}
#bell{
    text-align: right;
}
#head-3{
    grid-template-columns: 1fr 3fr;
    font-weight: bolder;
}
#head-3 p{
    font-size: 22px;
    font-weight: bold;
}
#head-3 span{
    font-size: 12px !important;
    line-height: 3;
}
#head-4{
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    justify-items: center;

}
.main-icon{
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px; 
}

#head-4>div{
    padding: 2px;
    display: grid;
    align-items: center;
}

.btn{
    width:100px;
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 15px 0 rgba(0, 0, 0, 0.13);
}
#main-content{
    background-color: var(--lwhite);
    grid-template:repeat(2,1fr)/3fr 1fr;
    grid-column: 2;
}
#main-content hr{
    color: rgb(161, 161, 161);
}
#main-left{
    grid-template-rows: 20px 1fr;
    grid-row: 1/4;
    padding: 1rem;
}
#cards{
    color: #10111b;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
  
}
#announcement,#trends{
    grid-template-rows: 20px 1fr;
}
#announcement div:nth-child(2){
    display: grid;
    grid-template-rows:1fr 2px 1fr 2px 1fr;
    gap:1rem;
}
#announcement div:nth-child(2) div:nth-child(odd){
    display: flex;
    justify-content: center;
    flex-flow: column;

}
#announcement p:hover{
    text-decoration: underline;
}
.content{
    background-color: white;
    border-radius: var(--radius);
}
.title{
    font-weight: bolder;
    letter-spacing: 3px;
}
#announcement h1{
    margin-bottom: 5px;
}
#tren-con{
    grid-template: repeat(4,1fr)/1fr 2fr;
    align-items: center;


}
#tren-con div{
    transition: transform .1s;
    margin: 1rem 0;
}
#tren-con div:nth-child(even){
    line-height: 1.1;  
}
#tren-con div:nth-child(odd),.center{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.hero-icon{
    border-radius: 50%;
    object-fit: cover;
    width:50px;
    height: 50px; 
    margin-right: 10px; 

}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.13);
}
.card{
    border-radius: var(--radius);
    border-left: 10px solid var(--lred);
    background-color: white;
    padding: var(--padding-1);
    transition: transform .2s;
}
.card:hover,#tren-con div:hover{
    -ms-transform: scale(1.02); 
    -webkit-transform: scale(1.02); 
    transform: scale(1.02);
}

.card h1,#announcement h1,#tren-con h1{
    margin-bottom: 5px;
    font-weight: bold;
}
#announcement h1,#tren-con h1{
    font-size: 14px;
}
#announcement p,#tren-con p{
    font-size: 13px;
}
.card p,#announcement p,#tren-con p{
    color: rgb(104, 104, 104);
    line-height: 1.3;
}
.end{
    display: flex;
    justify-content: flex-end;
}
.icons{
    padding: 1rem;
    gap: 10px;
    flex-flow: row nowrap;   
}
.icons path{
    fill: rgb(94, 94, 94);
    transition: transform 1.0s;
}
.icons path:hover{
    fill: var(--lred);
    -ms-transform: scale(1.09); 
    -webkit-transform: scale(1.09); 
    transform: scale(1.09);
}

@media only screen and (max-width: 1095px){
    #main-content{
        grid-template:0 0/1fr;
    }
}
@media only screen and (max-width: 644px){
    #main{
        grid-template: 1fr 2fr 4fr/1fr; 
    }
    #logo{
        justify-content: center;
    }
    #sidebar{
        grid-template: repeat(3,1fr)/ 1fr; 
        grid-area:1/1/2/3
    }
    #sidebar li{
        justify-content: center;
    }
    #head{
        grid-template: 50px repeat(2,1fr)/1fr 50px;
        grid-area:2/1/3/3;
    }
    #head-1{
        grid-area:1/1/2/3;
    }
    #head-2 div:nth-child(2){
        display: none;
    }
    #head-2 div:nth-child(1){
        padding: 0rem;
    }
    #head-2 {
        grid-area:2/2/3/3;
        padding:0;
    } 
    #head-3{
        grid-area:2/1/3/2;
        padding-right:0rem;
        padding-left:0rem;
    }
    #head-4{
        grid-area:3/1/4/4
    }
    #head-4 div{
        height: 40px;
    }
    #nav-1>ul{
        align-items: center;
        grid-template: 1fr/repeat(auto-fit,minmax(120px,1fr));
    }
    #nav-2>ul{
        grid-template: 1fr/repeat(auto-fit,minmax(120px,1fr));
    }
    
}